.jumbotron {
    padding-top: 4rem;
    background-color: #e9e9e9;
    text-align: center;
}

#projects {
    background-color: #e9e9e9;
}

#certificate {
    background-color: #e9e9e9;
}

section {
    padding-top: 4rem;
}